{% extends 'fragments/_base_form.html' %}


{% block page_title %}
    Cadastro
{% endblock page_title %}


{% block form_title %}
    Cadastro
{% endblock form_title %}
    

{% block inputs %}
    <label for="nome">
        <span>Nome</span>
        {{ form.nome }}
        {% if form.nome.errors %}
            <span class="erro-campo">{{ form.nome.errors.0 }}</span>
        {% endif %}
    </label>
    <label for="email">
        <span>E-mail</span>
        {{ form.email }}
        {% if form.email.errors %}
            <span class="erro-campo">{{ form.email.errors.0 }}</span>
        {% endif %}
    </label>
    <label for="password1">
        <span>Senha</span>
        {{ form.password1 }}
        {% if form.password1.errors %}
            <span class="erro-campo">{{ form.password1.errors.0 }}</span>
        {% endif %}
    </label>
    <label for="password2">
        <span>Confirmar Senha</span>
        {{ form.password2 }}
        {% if form.password2.errors %}
            <span class="erro-campo">{{ form.password2.errors.0 }}</span>
        {% endif %}
    </label>
    <label for="show-pass">
        <span>Exibir Senha</span>
        <input type="checkbox" name="show-pass" id="show-pass" class="auth-checkbox">
    </label>
{% endblock inputs %}



{% block form_buttons %}
    <button type='submit'>Cadastrar</button>
{% endblock form_buttons %}


{% block form_links %}
    <p>Já tem uma conta? <a href="{% url 'accounts:login' %}">Faça login!</a></p>
{% endblock form_links %}
    



{% block form_script %}
    <script>
        const senhaInput = document.getElementById("password1");
        const confirmarSenhaInput = document.getElementById("password2");
        const mostrarSenha = document.getElementById("show-pass");

        mostrarSenha.addEventListener("change", () => {
            if (mostrarSenha.checked) {
                senhaInput.type = 'text'
                confirmarSenhaInput.type = 'text'
            } else {
                senhaInput.type = 'password'
                confirmarSenhaInput.type = 'password'
            }
        })
    </script>
{% endblock form_script %}
    