{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="home-page">
    {% comment %} {% if banners %}
      <div class="banners-container">
        {% for banner in banners %}
          <div class="banner">
            <img src="{{ banner.img.url }}" alt="{{ banner.alt }}" />
          </div>
        {% endfor %}
      </div>
    {% endif %} {% endcomment %}

    <div class="banners-container">
      <div class="banner">
        <img src="{% static 'images/banner/image.png' %}" alt="banner-teste" />
      </div>
    </div>

    <div class="categorias-container">
      {% for categoria in categorias %}
        {% if categoria.livros.all %}
          <div class="categorias-wrapper">
            <h2 class="categoria-titulo">{{ categoria.nome }}</h2>

            <div class="livros-line">
              {% for livro in categoria.livros.all %}
                <div class="livro-card">
                  <a href="{% url 'catalogo:livro_detail' livro.slug %}">
                    <img src="{{ livro.capa.url }}" alt="capa do livro '{{ livro.titulo }}'" />
                    <br />
                    <span class="titulo">{{ livro.titulo }}</span>
                    <br />
                    <span>{{ livro.autor.nome }}</span>
                    <br />
                    <span>R$ {{ livro.preco }}</span>
                  </a>

                  <div data-livro-id="{{ livro.id }}" method="post">
                    <button type="submit" class="adicionar-item" data-url="{% url 'carrinho:adicionar_item' livro.id %}">Adicionar ao Carrinho</button>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block page_script %}
  <script src="{% static 'js/script.js' %}"></script>

  <script>
    function adicionarItem(url) {
      fetchURL(url)
        .then((response) => response.json())
        .then((data) => {
          console.log(data)
          window.alert('Adicionado Ao Carrinho')
        })
        .catch((error) => console.error('Erro ao adicionar item:', error))
    }
    
    const adicionarComDebouce = debounceEvent(adicionarItem, 200)
    
    //colocar isso numa function!!!!!!!!!!!!!!!!!!1
    document.querySelector('.categorias-container').addEventListener('click', (event) => {
      const botao = event.target.closest('.adicionar-item')
      if (!botao) return
      adicionarComDebouce(botao.dataset.url)
    })
  </script>
{% endblock %}
