{% extends 'base.html' %}

{% load static %}

{% block page_title %}
  {{ livro.titulo }}
{% endblock %}

{% block meta_description %}
  {{ livro.sinopse|truncatechars:160 }}
{% endblock %}

{% block page_style %}{% endblock %}

{% block content %}
  <div class="livro-detail">
    {% if esta_no_carrinho %}
      <span class="item_no_carrinho">Este produto já está no seu <a href="{% url 'carrinho:carrinho' %}">carriho &rarr;</a></span>
    {% endif %}
    <div class="grid">
      <div class="column">
        <div class="livro-foto">
          <img src="{{ livro.capa.url }}" alt="Capa do Livro {{ livro.titulo }}" />
        </div>
      </div>
      <div class="column livro-info">
        <h2 class="titulo">{{ livro.titulo }}</h2>
        <div class="toggle-container" data-livro-id="{{ livro.id }}">
          <button type="submit" class="toggle {% if esta_na_lista %}ativo{% endif %}" data-url="{% url 'wishlist:toggle' livro.id %}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path d="M241 87.1l15 20.7 15-20.7C296 52.5 336.2 32 378.9 32 452.4 32 512 91.6 512 165.1l0 2.6c0 112.2-139.9 242.5-212.9 298.2-12.4 9.4-27.6 14.1-43.1 14.1s-30.8-4.6-43.1-14.1C139.9 410.2 0 279.9 0 167.7l0-2.6C0 91.6 59.6 32 133.1 32 175.8 32 216 52.5 241 87.1z" />
            </svg>
          </button>
        </div>
        <a href="#" class="autor">{{ livro.autor.nome }}</a>
        <span class="preco">R$ {{ livro.preco|floatformat:2 }}</span>

        <p class="sinopse">{{ livro.sinopse }}</p>

        <div class="livro-buttons" data-livro-id="{{ livro.id }}">
          <button type="submit" class="button buy-now">Comprar Agora</button>

          <button type="submit" class="button add-to-cart" data-url="{% url 'carrinho:adicionar_item' livro.id %}">Adicionar ao Carrinho</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_script %}
  <script src="{% static 'js/script.js' %}"></script>

  <script>
    function adicionarItem(url) {
      fetchURL(url)
        .then((response) => response.json())
        .then((data) => {
          console.log(data)
          atualizarHeader('.carrinho', data, 'quantidade_total_carrinho')
        })
        .catch((error) => console.error(error))
    }
    
    function adicionarNaWishlist(url, botao) {
      fetchURL(url)
        .then((response) => response.json())
        .then((data) => {
          botao.classList.toggle('ativo', data.na_lista)
          atualizarHeader('.total-wishlist', data, 'quantidade_total_wishlist')
        })
        .catch((error) => console.error('Erro ao atualizar wishlist:', error))
    }
    
    const adicionarItemComDebounce = debounceEvent(adicionarItem, 200)
    const adicionarWishlistComDebounce = debounceEvent(adicionarNaWishlist, 200)
    
    document.querySelector('.livro-buttons').addEventListener('click', (event) => {
      const botao = event.target.closest('.add-to-cart')
      if (!botao) return
    
      adicionarItemComDebounce(botao.dataset.url)
    })
    
    document.querySelector('.toggle-container').addEventListener('click', (event) => {
      const botao = event.target.closest('.toggle')
      if (!botao) return
    
      adicionarWishlistComDebounce(botao.dataset.url, botao)
    })
  </script>
{% endblock %}
